<div class="container">
    <div class="rounded pl-md-3 pr-md-3 bg-white mt-md-4 mb-md-4">

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mt-auto">
            <h1 class="display-4">Welcome to The New News</h1>

            <p class="lead">Keep up to date with the latest in the world news</p>
            <a [routerLink]="['/article_list']"><button type="button" class="btn btn-lg btn-block btn-outline-primary">View Articles</button></a>
        </div>
        <div class="card mb-md-4">
            <div class="card-header">
                <h1 class="card-title">Join the New News</h1>
            </div>
            <div class=""></div>
            <div class="card-body">
                <div class="row text-center">
                    <ul class="w-100 list-unstyled mt-3 mb-4">
                        <li>Create Your Own Articles</li>
                        <li>Edit or Remove Your Articles</li>
                    </ul>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Log In</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>